@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F7F8;
}

@media (max-width: 416px){
    .menuItem {
        flex-flow: row wrap;
        margin-bottom: 1rem;
    }

    .descItem {
        flex-basis: 220px;
    }

    .text-sm {
        text-align: justify;
    }

    input[type="checkbox"] {
        width: 20px; 
        height: 20px; 
    }

}

@media(max-width: 599px){
    .cardP {
        width: 90%;
    }


}
